extends layout.pug

block content

  div(class="jumbotron")
    div(class="container")
      h1 Voting app

      if !user
        p
          a(class="btn btn-primary btn-lg" href="/signup" role="button") Sign up