extends ../layout.pug

block content
    div(class="container")

        h2(class="page-header") Add a new poll
        form(method="post")

            div(class="form-group")
                label(for="title") Title
                input(type="text" name="title" id="title" class="form-control" required value=(data.title ? data.title : ''))
                if errors.title
                    p(class="error") #{errors.title.message}

            div(class="form-group")
                label Options
                
                ol
                    if(data.options)
                        each option in data.options
                            li #[input(type="text" name="options[]" class="form-control" required value=option)]
                    else
                        li #[input(type="text" name="options[]" class="form-control" required)]
                        li #[input(type="text" name="options[]" class="form-control" required)]

                button(type="button" class="btn pull-right" id="add-option") Add option
                script(type="text/tpl" id="add-option-tpl")
                    li(class="js-dismiss")
                        input(type="text" name="options[]" class="form-control" required)
                        span(class="js-remove glyphicon glyphicon-remove")

                if errors.options
                    p(class="error") #{errors.options.message}

            br
            input(type="submit" class="btn btn-default")